table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 8px;
    text-align: left;
}
button.btn {
    padding: 5px 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}
button.btn:hover {
    background-color: deeppink;
}

button.edit-btn {
    padding: 5px 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}


